<%= form_for muppet do |f| %>
<div class="form-group col-md-6">
<%= f.label "Muppet Name" %>:
<%= f.text_field :name, class:"form-control"%>
</div>
<%= f.label "Show" %>:
<%= f.fields_for :muppet_shows do |show| %>
<div class="form-group col-md-6">
    <%= show.collection_select :show_id, shows, :id, :name, class: "form-select"%> <br>
    <%= show.label "Job" %>
    <%= show.text_field :job, class: "form-control" %>

    <% end %>
    </div>
<%= f.submit "Hire Muppet", class: "btn btn-primary"%>
<% end %>