<p>

<h2><%= @show.name %></h2>
</p>
<% @show.muppets.each do |muppet| %>
    <p>
   <strong> <%= label_tag "Name" %>: </strong>
    <%= muppet.name %>
    </p>
    <p>
    <strong><%= label_tag "Muppet Job" %></strong>:
    <%= muppet.muppet_shows[0].job %>
    <%= link_to "Edit",  edit_muppet_path(muppet), class: "btn btn-info"%>
    </p>
    <% end %>